node_modules
.env
# apiTest

# backend
backend/node_modules
backend/.env

# Hardhat files
contracts/cache
contracts/artifacts
contracts/node_modules


# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
ignition/deployments/chain-31337
